<h2>Add Rooms</h2>

<form  action="/rooms" method="POST">
    <input type="text" name="name" placeholder="Insert room name">
    <input type="text" name="description" placeholder="Room description">
    <input type="text" name="imageUrl" placeholder="Room image URL">
    <button type="submit">Submit</button>
</form>